body {
  font-family: Arial;
  margin: 0;
}

nav {
  background: #222;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 50px;
}

.produk {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.card {
  border: 1px solid #ccc;
  padding: 10px;
  width: 200px;
}

.card img {
  width: 100%;
}

.detail {
  display: flex;
  gap: 20px;
  padding: 20px;
}

footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 10px;
}